{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/lecss.css">
{% endblock %}
        {% block javascripts %}

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <script src="../public/assets/javascript/lejs.js"></script>


        {% endblock %}

{% block body %}

    {{  include ('header.html.twig') }}


    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-6 text-center">


                <h1>Inscription</h1>

                {# On rajoute le novalidate pour enlever la validation html5 et permettre de voir la validation Symfony #}
                <form action="{{ path('newmag') }}" method="post" novalidate="novalidate">





                    <p>
                        {# la fonction form_label génère la balise <label> #}
                        <b>{{ form_label(form.nom, "Nom  :", {}) }}</b> <br>
                        {# la fonction form_label génère la balise <select> car c'est un ChoiceType #}
                        {{ form_widget(form.nom, {}) }}
                    </p>



                    <p>
                        {# la fonction form_label génère la balise <label> #}
                        <b> {{ form_label(form.horaireOuverture, "Horaire Ouverturex  :", {}) }}</b> <br>
                        {# la fonction form_label génère la balise <input type="text"> car c'est un TextType #}
                        {{ form_widget(form.horaireOuverture, {}) }}
                    </p>


                    <p>
                        {# la fonction form_label génère la balise <label> #}
                        <b> {{ form_label(form.longitude, "Longitude  :", {}) }}</b> <br>
                        {# la fonction form_label génère la balise <input type="email"> car c'est un EmailType #}
                        {{ form_widget(form.longitude, {}) }}
                    </p>

                    {# Si j'ai une erreur de validation sur ce champ #}

                    <p>
                        {# la fonction form_label génère la balise <label> #}
                        <b>  {{ form_label(form.latitude, "Latitude  :", {}) }}</b> <br>
                        {# la fonction form_label génère la balise <textarea> car c'est un TextareaType #}
                        {{ form_widget(form.latitude, {}) }}
                    </p>


                    <p>
                        {# la fonction form_label génère la balise <label> #}
                        <b>   {{ form_label(form.telephone, "Telephone  :", {}) }} </b> <br>
                        {# la fonction form_label génère la balise <textarea> car c'est un TextareaType #}
                        {{ form_widget(form.telephone, {}) }}
                    </p>

                    {# Si j'ai une erreur de validation sur ce champ #}

                    <p>
                        {# la fonction form_label génère la balise <label> #}
                        <b>   {{ form_label(form.courriel, "E-Mail  :", {}) }}</b> <br>
                        {# la fonction form_label génère la balise <textarea> car c'est un TextareaType #}
                        {{ form_widget(form.courriel, {}) }}
                    </p>







                    {# Génère l'input secret pour la sécurité de la faille CSRF, qui s'appelle _token #}
                    {# Ne pas s'en préoccuper, mais il faut toujours mettre le form_rest(), toujours #}
                    {{ form_rest(form) }}

                    <p>
                        <input type="submit" value="Envoyer le formulaire" />
                    </p>
                </form>

            </div>
        </div>
    </div>



    <br>
    <br>
    <br>
    <br>

    {{  include ('footer.html.twig') }}

{% endblock %}