{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/lecss.css">
{% endblock %}
        {% block javascripts %}

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <script src="../public/assets/javascript/lejs.js"></script>


        {% endblock %}

{% block body %}

    {{  include ('header.html.twig') }}


<div class="container">
    <div class="row">
        <div class="offset-md-2 col-6 text-center">


    <h1>Inscription</h1>

    {# On rajoute le novalidate pour enlever la validation html5 et permettre de voir la validation Symfony #}
    <form action="{{ path('contact') }}" method="post" novalidate="novalidate">

        {# Si j'ai une erreur de validation sur ce champ #}
        {% if form.email.vars['errors'] |length > 0 %}
            <p style="color:red">
                {# J'affiche une liste à puce des erreurs #}
                {{ form_errors(form.email) }}
            </p>
        {% endif %}
        <p>
            {# la fonction form_label génère la balise <label> #}
            <b>{{ form_label(form.email, "Courriel  :", {}) }}</b> <br>
            {# la fonction form_label génère la balise <select> car c'est un ChoiceType #}
            {{ form_widget(form.email, {}) }}
        </p>

        {# Si j'ai une erreur de validation sur ce champ #}
        {% if form.name.vars['errors'] |length > 0 %}
            <p style="color:red">
                {# J'affiche une liste à puce des erreurs #}
                {{ form_errors(form.name) }}
            </p>
        {% endif %}
        <p>
            {# la fonction form_label génère la balise <label> #}
            <b> {{ form_label(form.name, "Nom de famille  :", {}) }}</b> <br>
            {# la fonction form_label génère la balise <input type="text"> car c'est un TextType #}
            {{ form_widget(form.name, {}) }}
        </p>

        {# Si j'ai une erreur de validation sur ce champ #}
        {% if form.firstname.vars['errors'] |length > 0 %}
            <p style="color:red">
                {# J'affiche une liste à puce des erreurs #}
                {{ form_errors(form.firstname) }}
            </p>
        {% endif %}
        <p>
            {# la fonction form_label génère la balise <label> #}
            <b> {{ form_label(form.firstname, "Prénom  :", {}) }}</b> <br>
            {# la fonction form_label génère la balise <input type="email"> car c'est un EmailType #}
            {{ form_widget(form.firstname, {}) }}
        </p>

        {# Si j'ai une erreur de validation sur ce champ #}
        {% if form.codep.vars['errors'] |length > 0 %}
            <p style="color:red">
                {# J'affiche une liste à puce des erreurs #}
                {{ form_errors(form.codep) }}
            </p>
        {% endif %}
        <p>
            {# la fonction form_label génère la balise <label> #}
            <b>  {{ form_label(form.codep, "Code Postale  :", {}) }}</b> <br>
            {# la fonction form_label génère la balise <textarea> car c'est un TextareaType #}
            {{ form_widget(form.codep, {}) }}
        </p>

        {# Si j'ai une erreur de validation sur ce champ #}
        {% if form.rue.vars['errors'] |length > 0 %}
            <p style="color:red">
                {# J'affiche une liste à puce des erreurs #}
                {{ form_errors(form.rue) }}
            </p>
        {% endif %}
        <p>
            {# la fonction form_label génère la balise <label> #}
            <b>   {{ form_label(form.rue, "Rue  :", {}) }} </b> <br>
            {# la fonction form_label génère la balise <textarea> car c'est un TextareaType #}
            {{ form_widget(form.rue, {}) }}
        </p>

        {# Si j'ai une erreur de validation sur ce champ #}
        {% if form.ville.vars['errors'] |length > 0 %}
            <p style="color:red">
                {# J'affiche une liste à puce des erreurs #}
                {{ form_errors(form.ville) }}
            </p>
        {% endif %}
        <p>
            {# la fonction form_label génère la balise <label> #}
            <b>   {{ form_label(form.ville, "ville  :", {}) }}</b> <br>
            {# la fonction form_label génère la balise <textarea> car c'est un TextareaType #}
            {{ form_widget(form.ville, {}) }}
        </p>


        {# Si j'ai une erreur de validation sur ce champ #}
        {% if form.mdp.vars['errors'] |length > 0 %}
            <p style="color:red">
                {# J'affiche une liste à puce des erreurs #}
                {{ form_errors(form.mdp) }}
            </p>
        {% endif %}
        <p>
            {# la fonction form_label génère la balise <label> #}
            <b>  {{ form_label(form.mdp, "Mot de passe  :", {}) }}</b> <br>

            {{ form_widget(form.mdp, {}) }}
        </p>

        {# Si j'ai une erreur de validation sur ce champ #}
        {% if form.role.vars['errors'] |length > 0 %}
            <p style="color:red">
                {# J'affiche une liste à puce des erreurs #}
                {{ form_errors(form.mdp) }}
            </p>
        {% endif %}
        <p>
            {# la fonction form_label génère la balise <label> #}
            {# la fonction form_label génère la balise <textarea> car c'est un TextareaType #}
            {{ form_widget(form.role, {'value':"Utilisateur", 'attr' : { 'style':'display:none'}}) }}
        </p>





        {# Génère l'input secret pour la sécurité de la faille CSRF, qui s'appelle _token #}
        {# Ne pas s'en préoccuper, mais il faut toujours mettre le form_rest(), toujours #}
        {{ form_rest(form) }}

        <p>
            <input type="submit" value="Envoyer le formulaire" />
        </p>
    </form>

        </div>
    </div>
</div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <!-- Footer -->
    {{  include ('footer.html.twig') }}

{% endblock %}
